<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Обновите человека</title>
</head>
<body>

<form th:method="PATCH"
      th:action="@{/admin/{id}(id=${user.getId()})}"
      th:object="${user}">

  <div>
    <label for="username">Введите имя: </label>
    <input id="username" th:field="*{username}" type="text"/>
    <br/>

    <label for="age">Введите возраст: </label>
    <input id="age" th:field="*{age}" type="text"/>
    <br/>

    <label for="password">Введите пароль: </label>
    <input id="password" th:field="*{password}" type="text"/>
    <br/>

    <fieldset>
      <legend>Роли</legend>
      <label for=1>ROLE_ADMIN</label>
      <input type="checkbox" id=1 name="roles" value=1 autocomplete="off">
      <label for=2>ROLE_USER</label>
      <input type="checkbox" id=2 name="roles" value=2 autocomplete="off">
    </fieldset>

    <input TYPE="submit" value="Обновить">
  </div>
</form>
</body>
</html>